* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  font-family: karla;
  font-weight: 400;
  color: #0B2434;
}

main{
  width: 100vw;
  height: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.main--container {
  background-color: #F5F5F5;
  border-radius: 10px;
  text-align: center;
  aspect-ratio: 1;
  width: 90%;
  margin-bottom: 10em;
  padding: 0 1em;
}

.dices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dice {
  width: 20%;
  aspect-ratio: 1;
  background-color: white;
  margin:.4em;
  box-shadow: 0 2px 6px -3px #111; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.btn {
  background-color: #6107F5;
  font-size: 1em;
  border: none;
  color: white;
  margin: 1em 0 1.5em 0;
  padding: 1em 3em;
  border-radius: 7px;
}

.chosen-dice {
  background-color: #59E391;
}

.rollBtn {
  display: none;
}

.playAgainBtn {
  padding: 1em 2em;
}

@media (min-width: 800px) { 

  .main--container > h1 {
    font-size: 4em;
  }

  .main--container > p {
    padding: 0 2em;
    font-size: 2em;
  }

  .dice {
    font-size: 3em;
    width: 15%;
    aspect-ratio: 1;
    background-color: white;
    margin:.3em;
    box-shadow: 0 2px 6px -3px #111; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }

  .main--container {
    width: 40vw;
    height: 75vh;
    margin-top: 3em;
    margin-bottom: 5em;
    padding: 0 1em 45em 1em;
    aspect-ratio: none;
  }

  .btn {
    font-size: 2.5em;
    padding: .5em 2em;
  }
  .chosen-dice {
    background-color: #59E391;
  }
}

